<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../imagenes/recursos/logo-jes.png">
</head>
<body>
    <main class="main-container main-curso-material">            
        <section class="modals-container agregar-material-section">
            <form action="#">
                <fieldset class="agregar-material-fieldset">
                    <legend>Agregar video de refuerzo 1ro - A</legend>
                    <div class="dato-material info-material">
                        <label for="nombre-material">Titulo del video</label>
                        <input type="text" id="nombre-material">
                    </div>
                    <div class="dato-material dato-valor-material">
                        <label for="valor-material">Materia</label>
                        <input type="text" id="valor-material">
                    </div>
                    <div class="dato-material dato-video-url">
                        <label for="url-video">URL</label>
                        <input type="url" id="url-video">
                    </div>
                </fieldset>
                <div class="botones-agg-material">
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Rehacer">
                </div>
            </form>
        </section>
    </main>
    <script src="../js/menu-profesor-a.js"></script>
    <script src="../js/cerrar-modal-agg-material.js"></script>
    <!-- <script src="../js/perfil-modal.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>