<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refuerzo de estudio</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../imagenes/recursos/logo-jes.png">
</head>
<body>
    <div class="body-container">
        <header>
            <div class="header-container">
                <figure class="jesIMG-container">
                    <img src="../imagenes/recursos/logo-jes.png" alt="JES-LOGO">
                </figure>            
                <div class="jes-titulo">
                    <h2>JES</h2>
                    <h3>Junior Explorers System</h3>                
                </div>
                <nav class="nav-container">
                    <ul>
                        <li class="nav-home">
                            <a href="p-home-a.html" class="li-home"><figure><img src="../imagenes/iconos/house-blank.svg" alt="perfil"></figure></a>
                        </li>
                        <li class="nav-menu">
                            <a href="#" class="menu"><figure><img src="../imagenes/iconos/menu.svg" alt="menu"></figure></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main-container">
            <section class="section-materiales section-p-refuerzo">
                <div class="cabecera-agg-material cabecera-agg-refuerzo">
                    <div class="cabecera-flex">
                        <div class="contenedor-a-cabecera">
                            <a href="p-refuerzo-libros.html">Libros</a>
                            <a href="#" id="recurrente-a-refuerzo">Videos</a>                              
                        </div>
                        <h2 class="titulo-refuerzo">Recursos de Estudio</h2>                        
                    </div>

                    <a href="p-agregar-video.html" class='agregar-refuerzo-a'>agregar material</a>
                </div>
                <article class="libros-refuerzo videos-refuerzo">
                    <table>
                        <tr>
                            <th>Titulo</th>
                            <th>Materia</th>
                            <th>fuente|link</th>                      
                        </tr>
                        <tr>
                            <td>Don quijote</td>
                            <td>Lengua Española</td>
                            <td><a href="https://www.youtube.com/watch?v=ir6A-Ns5Em8" target="_blank"><button>link</button></a></td>
                            <td><button class="td-eliminar-libros">Eliminar</button></td>
                        </tr>
                        <tr>
                            <td>Aritmetica basica</td>
                            <td>Matematicas</td>
                            <td><a href="https://www.youtube.com/watch?v=ir6A-Ns5Em8" target="_blank"><button>link</button></a></td>
                            <td><button class="td-eliminar-libros">Eliminar</button></td>
                        </tr>
                        <tr>
                            <td>Verb to be</td>
                            <td>Ingles</td>
                            <td><a href="https://www.youtube.com/watch?v=ir6A-Ns5Em8" target="_blank"><button>link</button></a></td>
                            <td><button class="td-eliminar-libros">Eliminar</button></td>
                        </tr>
                        <tr>
                            <td>El cuerpo humano</td>
                            <td>Biologia</td>
                            <td><a href="https://www.youtube.com/watch?v=ir6A-Ns5Em8" target="_blank"><button>link</button></a></td>
                            <td><button class="td-eliminar-libros">Eliminar</button></td>
                        </tr>
                    </table>
                </article>
            </section><td>
        </main>
    </div>
    <script src="../js/menu-profesor-a.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>