<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refuerzo de estudio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}">
</head>
<body>
    <div class="body-container">
        <header>
            <div class="header-container">
                <figure class="jesIMG-container">
                    <img src="../imagenes/recursos/logo-jes.png" alt="JES-LOGO">
                </figure>            
                <div class="jes-titulo">
                    <h2>JES</h2>
                    <h3>Junior Explorers System</h3>                
                </div>
                <nav class="nav-container">
                    <ul>
                        <li class="nav-home">
                            <a href="a-home.html" class="li-home"><figure><img src="../imagenes/iconos/house-blank.svg" alt="perfil"></figure></a>
                        </li>
                        <li class="nav-menu">
                            <a href="#" class="menu"><figure><img src="../imagenes/iconos/menu.svg" alt="menu"></figure></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main-container">
            <section class="section-materias-admin">
                <div class="cabecera-agg-material cabecera-agg-refuerzo">
                    <div class="cabecera-flex">
                        <a href="a-agg-materias.html">Agregar materias</a>                    
                        <h2 class="titulo-refuerzo">Materias</h2>                        
                    </div>
                    <form action="#">
                        <select name="materias-refuerzo" id="materias-admin-select">
                            <option value="">1ro</option>
                            <option value="">2do</option>
                            <option value="">3ro</option>
                            <option value="">4to</option>
                            <option value="">5to</option>
                            <option value="">6to</option>
                        </select>
                    </form>
                </div>
                <div class="materias-container">
                    <article class="contenedor-materias-admin">
                        <h2 class="h-titular-materia">Lengua Española</h2>
                        <figure class="fondo-material-estudio">
                            <img src="../imagenes/star8k.jpg" alt="fondo-materia">
                        </figure>
                        <div class="contenido-materias">
                            <button class="btn-eliminar-materias">Eliminar</button>
                        </div>
                    </article>
                    <article class="contenedor-materias-admin">
                        <h2 class="h-titular-materia">Matem&aacute;ticas</h2>
                        <figure class="fondo-material-estudio">
                            <img src="../imagenes/star8k.jpg" alt="fondo-materia">
                        </figure>
                        <div class="contenido-materias">
                            <button class="btn-eliminar-materias">Eliminar</button>
                        </div>
                    </article>
                    <article class="contenedor-materias-admin">
                        <h2 class="h-titular-materia">Ciencias Sociales</h2>
                        <figure class="fondo-material-estudio">
                            <img src="../imagenes/star8k.jpg" alt="fondo-materia">
                        </figure>
                        <div class="contenido-materias">
                            <button class="btn-eliminar-materias">Eliminar</button>
                        </div>
                    </article>
                    <article class="contenedor-materias-admin">
                        <h2 class="h-titular-materia">Ciencias Naturales</h2>
                        <figure class="fondo-material-estudio">
                            <img src="../imagenes/star8k.jpg" alt="fondo-materia">
                        </figure>
                        <div class="contenido-materias">
                            <button class="btn-eliminar-materias">Eliminar</button>
                        </div>
                    </article>
                    <article class="contenedor-materias-admin">
                        <h2 class="h-titular-materia">Ingl&eacute;s</h2>
                        <figure class="fondo-material-estudio">
                            <img src="../imagenes/star8k.jpg" alt="fondo-materia">
                        </figure>
                        <div class="contenido-materias">
                            <button class="btn-eliminar-materias">Eliminar</button>
                        </div>
                    </article>                 
                </div>
            </section>
        </main>
    </div>
    <script src="../js/menu-admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>