<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../imagenes/recursos/logo-jes.png">
</head>
<body>
    <header>
        <div class="header-container">
            <figure class="jesIMG-container">
                <img src="../imagenes/recursos/logo-jes.png" alt="JES-LOGO">
            </figure>            
            <div class="jes-titulo">
                <h2>JES</h2>
                <h3>Junior Explorers System</h3>                
            </div>
            <nav class="nav-container">
                <ul>
                    <li class="nav-home">
                        <a href="a-home.html" class="li-home"><figure><img src="../imagenes/iconos/house-blank.svg" alt="perfil"></figure></a>
                    </li>
                    <li class="nav-menu">
                        <a href="#" class="menu"><figure><img src="../imagenes/iconos/menu.svg" alt="menu"></figure></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main-container main-curso-material">
        <section class="cursos-admin">
            <h2 class="identificador-curso">1ro A</h2>
            <article class="tabla-curso-estudiantes" id="a-profesor-article">
                <div class="cabecera-tabla-estudiantes-a cabecera-curso-admin">
                    <a href="a-curso.html">Ir atr&aacute;s</a>
                    <h2 class="identificador-apartado-curso">Profesores</h2>
                    <a href="a-formulario-registro-p.html">Agregar</a>
                </div>
                <table class="tabla-asistencia tabla-admin-e">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Ced&uacute;la</th>
                        <th>Asignatura</th>
                        <th>Editar</th>
                    </tr>
                    <tr class="fila-calificacion">
                        <td>1010</td>
                        <td>Albiery</td>
                        <td>Rodriguez</td>
                        <td>402-0002213-2</td>
                        <td>Matem&aacute;ticas</td>
                        <td><a><figure><img src="../imagenes/iconos/editar.svg" alt="editar-profesor"></figure></a></td>
                        <td><button class="btn-eliminar">eliminar</button></td>
                    </tr>
                    <tr class="fila-calificacion">
                        <td>1011</td>
                        <td>Smailyn</td>
                        <td>Burgos</td>
                        <td>402-0002213-2</td>
                        <td>Matem&aacute;ticas</td>
                        <td><a><figure><img src="../imagenes/iconos/editar.svg" alt="editar-profesor"></figure></a></td>
                        <td><button class="btn-eliminar">eliminar</button></td>
                    </tr>
                    <tr class="fila-calificacion">
                        <td>1012</td>
                        <td>Massiel</td>
                        <td>Rodriguez</td>
                        <td>402-0002213-2</td>
                        <td>Matem&aacute;ticas</td>
                        <td><a><figure><img src="../imagenes/iconos/editar.svg" alt="editar-profesor"></figure></a></td>
                        <td><button class="btn-eliminar">eliminar</button></td>
                    </tr>    
                    <tr class="fila-calificacion">
                        <td>1013</td>
                        <td>Faury</td>
                        <td>Garcia</td>
                        <td>402-0002213-2</td>
                        <td>Matem&aacute;ticas</td>
                        <td><a><figure><img src="../imagenes/iconos/editar.svg" alt="editar-profesor"></figure></a></td>
                        <td><button class="btn-eliminar">eliminar</button></td>
                    </tr>
                </table>
            </article>
        </section>
    </main>
    <script src="../js/menu-admin.js"></script>
</body>
</html>