<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refuerzo de estudio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}">
</head>
<body>
    <div class="body-container">
        <header>
            <div class="header-container">
                <figure class="jesIMG-container">
                    <img src="{{ url_for('static', filename='imagenes/recursos/logo-jes.png')}}" alt="JES-LOGO">
                </figure>            
                <div class="jes-titulo">
                    <h2>JES</h2>
                    <h3>Junior Explorers System</h3>                
                </div>
                <nav class="nav-container">
                    <ul>
                        <li class="nav-home">
                            <a href="/Home/estudiante/" class="li-home"><figure><img src="{{ url_for('static', filename='imagenes/iconos/house-blank.svg')}}" alt="perfil"></figure></a>
                        </li>
                        <li class="nav-menu">
                            <a href="#" class="menu"><figure><img src="{{ url_for('static', filename='imagenes/iconos/menu.svg')}}" alt="menu"></figure></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main-container">
            <section class="section-materiales section-libros-refuerzo-e">
                <div class="cabecera-agg-material cabecera-agg-refuerzo">
                    <div class="cabecera-flex">
                        <div class="contenedor-a-cabecera">
                            <a href="#" id="recurrente-a-refuerzo">Libros</a>
                            <a href="/estudiante/refuerzo/videos">Videos</a>
                        </div>
                        <h2 class="titulo-refuerzo">Recursos de Estudio</h2>                        
                    </div>
                    <form action="#">
                        <select name="materias-refuerzo" id="materias-refuerzo">
                            <option value="">Todos</option>
                            <option value="">Lengua Espa&ntilde;ola</option>
                            <option value="">Matemáticas</option>
                            <option value="">Ingles</option>
                            <option value="">Biolog&iacute;a</option>
                        </select>
                    </form>
                </div>
                <article class="contenedor-material">                           
                    <div class="materia-del-material">
                        <h3>Lengua Española</h3>
                    </div>
                    <div class="contenido-material">
                        <figure class="fondo-material-estudio">
                            <img src="{{url_for('static', filename='imagenes/recursos/don-quijote.jpg')}}" alt="imagen-fondo-estudio">
                        </figure>
                        <div class="link-material">
                            <h3>Don quijotes</h3>
                            <a href="/estudiante/libro/">ver</a>                            
                        </div>
                    </div>
                </article>
                <article class="contenedor-material">                           
                    <div class="materia-del-material">
                        <h3>Matemáticas</h3>
                    </div>
                    <div class="contenido-material">
                        <figure class="fondo-material-estudio">
                            <img src="{{ url_for('static', filename='imagenes/recursos/aritmetica.jpg')}}" alt="imagen-fondo-estudio">
                        </figure>
                        <div class="link-material">
                            <h3>Aritmetica basica</h3>
                            <a href="/estudiante/libro/">ver</a>                            
                        </div>
                    </div>
                </article>
                <article class="contenedor-material">                           
                    <div class="materia-del-material">
                        <h3>Ingles</h3>
                    </div>
                    <div class="contenido-material">
                        <figure class="fondo-material-estudio">
                            <img src="{{url_for('static', filename='imagenes/recursos/To-be.png')}}" alt="imagen-fondo-estudio">
                        </figure>
                        <div class="link-material">
                            <h3>Verb to be</h3>
                            <a href="/estudiante/libro/">ver</a>                            
                        </div>
                    </div>
                </article>
                <article class="contenedor-material">                           
                    <div class="materia-del-material">
                        <h3>Biologia</h3>
                    </div>
                    <div class="contenido-material">
                        <figure class="fondo-material-estudio">
                            <img src="{{ url_for('static', filename='imagenes/recursos/cuerpo-humano.jpg')}}" alt="imagen-fondo-estudio">
                        </figure>
                        <div class="link-material">
                            <h3>El cuerpo humano</h3>
                            <a href="/estudiante/libro/">ver</a>                        
                        </div>
                    </div>
                </article>
                <article class="contenedor-material">                           
                    <div class="materia-del-material">
                        <h3>Educación fisica</h3>
                    </div>
                    <div class="contenido-material">
                        <figure class="fondo-material-estudio">
                            <img src="{{ url_for('static', filename='imagenes/recursos/ajedrez.jpg')}}" alt="imagen-fondo-estudio">
                        </figure>
                        <div class="link-material">
                            <h3>Historia del ajedrez</h3>
                            <a href="/estudiante/libro/">ver</a>                        
                        </div>
                    </div>
                </article>
            </section>
        </main>
    </div>
    <script src="{{url_for('static', filename='js/menu.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>